# Игнорирай всичко
*

# Допускай само тези файлове
!.gitignore
!shopify-theme-procedure.txt
!snippets/
!snippets/jet-product-button.liquid
!assets/
!assets/jet.png
!assets/jet_card.png
!assets/jet_product.css
!assets/jet_product.js
!assets/jet_cart.css
!assets/jet_cart.js
!.theme-check.yml
!.shopifyignore
!app/
